body {
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
 overflow-x: hidden;
 border-radius: border-box;
 text-decoration: none;
 list-style: none;
 border: none;
}
/* //header */
header {
 background: url(image/bg.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 width: 100vw;
 overflow-x: hidden;
}
.logo {
 width: 100px;
}
.text-danger {
 color: #c00 !important;
}
.bg-danger {
 background-color: #c00 !important;
 color: #fff;
}
.nav-link {
 font-weight: 600;
 margin-inline: 1rem;
}
h1 {
 font-size: 48px;
 color: #333;
}
.social-icons i {
 font-size: 20px;
 margin: 0 10px;
 color: #c00;
}
.bottle-container {
 display: flex;
 justify-content: end;
 align-items: end;
 margin-left: 20px;

}
navbar-collapse {
 flex-grow: 1;
 justify-content: flex-end;
 padding: 10px;
}
.navbar-toggler {
 border: none;
}
.bg-white-nav {
 background-color: white !important;
}
/* //Hero-Section */
.Hero-section{
 height: 100vh;
}
.main-box{
    max-width: 1000px;
 margin-top: 50px;
 margin: 0;
 background-color: white;
 border-radius: 10px;
 padding: 20px;
 outline:4px double yellow;
 box-shadow: 0 10px 20px rgba(151, 0, 0, 0.916);
}
.btn-check-ingredients {
 background-color: #e76c1f;
 color: rgb(255, 255, 255);
 border: none;
}
.btn-check-ingredients:hover {
 background-color: #3a0d51;
}
/* //Cicle-Bar */

donut-chart {
 position: relative;
 width: 30%;
 padding-top: 30%;
}
.donut-chart canvas {
 position: absolute;
 top: 0;
 left: 0;
 width: 30%;
 height: 30%;
}
.chart-label {
 display: flex;
 align-items: center;
 margin-top: 10px;
}
.chart-label .dot {
 height: 10px;
 width: 10px;
 background-color: #0d8a2a;
 border-radius: 50%;
 display: inline-block;
 margin-right: 5px;
}
/* //FAQs */
\\.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
  !important;
}
.accordion-button {
 font-size: 0.8rem;
 font-weight: bold;
 }
 .accordion-button:hover {
 box-shadow: 0px 0px 10px 2px #8b8b8b2e;
 }
 .accordion-button:focus, .accordion-button:not(.collapsed) {
 outline: none;
 box-shadow: none;
 }
 @media (max-width: 767.98px) {
 /* //Header */
 header {
 background: url(/Assets/1.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 }
 .logo{
 width: 70px;
 }
 .container-header {
 width: 100%;
 padding-left: 0;
 padding-right: 0;
 }
 .navbar-collapse {
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;
 z-index: 1000;
 }
 nav .navbar-collapse {
 background-color: white;
 }
 .navbar-brand {
 position: relative;
 transform: none;
 }
 .navbar-nav {
 justify-content: flex-end;
 width: 100%;
 }
 /* //Main Box */
 .bottle-container img {
 width: 10%;
 margin: 0;
 padding: 0;
 }
 .bottle-container {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin-bottom: 3rem;

 }
 .item-container h1 {
 font-size: 2rem;
 }
 .landing-left{
 text-align: center;
 }
}
@media (max-width:380px){
 .bottle-container img {
 width: 20%;
 }
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
 /* width of the scrollbar */
 }

 ::-webkit-scrollbar-track {
 background: #f1f1f1;
 /* color of the track */
 }

 ::-webkit-scrollbar-thumb {
 background-image:
 linear-gradient( rgb(255, 0, 0),rgb(255, 159, 124));
 /* color of the scrollbar */
 border-radius:20px;
 /* roundness of the scrollbar */
 transition: background 0.3s ease;
 /* smooth transition */
 }

 ::-webkit-scrollbar-thumb:hover {
 background-image:
 linear-gradient( rgb(254, 48, 48),rgb(255, 163, 129));
 /* color of the scrollbar */

 }

 /* Additional Styles */
 ::-webkit-scrollbar-corner {
 background: transparent;
 /* color of the corner between vertical and horizontal scrollbars */
 }

 ::-webkit-scrollbar-button {
 display: none;
 /* hide the scrollbar buttons (arrows) */
 }